<!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

              <div class="page-content">
                  <div class="container-fluid">

                      <!-- start page title -->
                      <div class="row">
                          <div class="col-12">
                              <div class="page-title-box d-flex align-items-center justify-content-between">
                                  <h4 class="mb-0">Cartographes</h4>

                              </div>
                          </div>
                      </div>
                      <!-- end page title -->
                      <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">

                                    <h4 class="card-title">Ajoutez un cartographe</h4>
                                    <div class="mb-3 row"></div>
                                    <form action="" method="post">
                                    <!-- First Name -->
                                    <div class="mb-3 row">
                                        <label for="example-text-input" class="col-md-2 col-form-label">Nom</label>
                                        <div class="col-md-10">
                                            <input class="form-control" type="text" placeholder="Luccin" name="firstName" id="example-text-input">
                                        </div>
                                    </div>

                                    <!-- Last Name-->
                                    <div class="mb-3 row">
                                      <label for="example-text-input" class="col-md-2 col-form-label">Postnom</label>
                                      <div class="col-md-10">
                                          <input class="form-control" name="lastName" type="text" placeholder="Masirika" id="example-text-input">
                                      </div>
                                  </div>

                                  <!-- Phone number -->

                                  <!-- Airtel number -->
                                    <div class="mb-3 row">
                                        <label for="example-tel-input" class="col-md-2 col-form-label">Airtel</label>
                                        <div class="col-md-10">
                                            <input class="form-control" name="phone" type="tel" placeholder="+243825494121" id="example-tel-input">
                                        </div>
                                    </div>

                                    <div class="mb-3 row">
                                        <label for="example-tel-input" class="col-md-2 col-form-label"></label>
                                        <div class="col-md-10">
                                            <div class="form-check form-switch mb-3" dir="ltr">
                                                <input type="checkbox" class="form-check-input" id="customSwitchsizesm" checked>
                                                <label class="form-check-label" for="customSwitchsizesm">Airtel Money</label>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Airtel number -->
                                    <div class="mb-3 row">
                                        <label for="example-tel-input" class="col-md-2 col-form-label">Orange</label>
                                        <div class="col-md-10">
                                            <input class="form-control" name="phone" type="tel" placeholder="+243825494121" id="example-tel-input">
                                        </div>
                                    </div>

                                    <div class="mb-3 row">
                                        <label for="example-tel-input" class="col-md-2 col-form-label"></label>
                                        <div class="col-md-10">
                                            <div class="form-check form-switch mb-3" dir="ltr">
                                                <input type="checkbox" class="form-check-input" id="customSwitchsizesm" checked>
                                                <label class="form-check-label" for="customSwitchsizesm">Orange Money</label>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Airtel number -->
                                    <div class="mb-3 row">
                                        <label for="example-tel-input" class="col-md-2 col-form-label">Vodacom</label>
                                        <div class="col-md-10">
                                            <input class="form-control" name="phone" type="tel" placeholder="+243825494121" id="example-tel-input">
                                        </div>
                                    </div>

                                    <div class="mb-3 row">
                                        <label for="example-tel-input" class="col-md-2 col-form-label"></label>
                                        <div class="col-md-10">
                                            <div class="form-check form-switch mb-3" dir="ltr">
                                                <input type="checkbox" class="form-check-input" id="customSwitchsizesm" checked>
                                                <label class="form-check-label" for="customSwitchsizesm">M-Pesa</label>
                                            </div>
                                        </div>
                                    </div>

                              <!-- Submit-->
                              <div class="mb-3 row">
                                <label for="example-text-input" class="col-md-2 col-form-label"></label>
                                <div class="col-md-10">
                                  <button type="submit" class="btn btn-primary w-md">Submit</button>
                                </div>
                            </div>
                            </div>
                          </form>
                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div>
                    <!-- end row -->

                  </div> <!-- container-fluid -->
              </div>
              <!-- End Page-content -->



             <!-- Footer-->
             <%- include('./footer.ejs') %>
          </div>
          <!-- end main content-->

      </div>
      <!-- END layout-wrapper -->

      <!-- JAVASCRIPT -->
      <script src="/assets/libs/jquery/jquery.min.js"></script>
      <script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/assets/libs/metismenu/metisMenu.min.js"></script>
      <script src="/assets/libs/simplebar/simplebar.min.js"></script>
      <script src="/assets/libs/node-waves/waves.min.js"></script>
      <script src="/assets/libs/waypoints/lib/jquery.waypoints.min.js"></script>
      <script src="/assets/libs/jquery.counterup/jquery.counterup.min.js"></script>

       <script src="/assets/js/app.js"></script>
