<!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

              <div class="page-content">
                  <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                          <div class="col-12">
                              <div class="page-title-box d-flex align-items-center justify-content-between">
                                  <h4 class="mb-0">Utilisateurs</h4>

                              </div>
                          </div>
                    </div>
                    <!-- end page title -->

                    <!-- start add user-->
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">

                                    <h4 class="card-title">Ajouter un nouveau utilisateur</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet ipsam voluptate sunt cum nam. Voluptatibus excepturi veniam accusantium vel sit?</p>
                                    <div class="mb-3 row"></div>

                                  <form>

                                  <!-- First Name -->
                                    <div class="mb-3 row">
                                      <label for="example-text-input" class="col-md-2 col-form-label">First Name</label>
                                      <div class="col-md-10">
                                          <input class="form-control" name="firstName" type="text" placeholder="Luccin" id="example-text-input">
                                      </div>
                                    </div>

                                  <!-- Last Name -->
                                  <div class="mb-3 row">
                                    <label for="example-text-input" class="col-md-2 col-form-label">Last Name</label>
                                    <div class="col-md-10">
                                        <input class="form-control" name="lastName" type="text" placeholder="Masirika" id="example-text-input">
                                    </div>
                                </div>

                                <!-- Email -->
                                <div class="mb-3 row">
                                  <label for="example-text-input" class="col-md-2 col-form-label">Email</label>
                                  <div class="col-md-10">
                                      <input class="form-control" name="email" type="email" placeholder="email@gmail.com" id="example-text-input">
                                  </div>
                              </div>

                              <!-- Password -->
                              <div class="mb-3 row">
                                <label for="example-text-input" class="col-md-2 col-form-label">Password</label>
                                <div class="col-md-10">
                                    <input class="form-control" name="password" type="password" placeholder="password" id="example-text-input">
                                </div>
                              </div>

                            <!-- ROle -->
                            <div class="mb-3 row">
                              <label for="example-text-input" class="col-md-2 col-form-label">Role</label>
                              <div class="col-md-10">
                                <select class="form-control select2-search-disable" name="role">
                                  <option>Selectionnez le role</option>
                                  <option value="ADMIN">Admin</option>
                                  <option value="USER">User</option>
                                </select>
                              </div>
                            </div>

                              <!-- Submit-->
                              <div class="mb-3 row">
                                <label for="example-text-input" class="col-md-2 col-form-label"></label>
                                <div class="col-md-10">
                                  <button type="submit" class="btn btn-primary w-md">Submit</button>
                                </div>
                            </div>
                          </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- end add user -->

                    <!-- start user list-->
                    <div class="row">
                      <div class="col-12">
                        <div class="card">
                          <div class="card-body">
                              <h4 class="card-title">Liste des utilisateurs</h4>
                              <p class="card-title-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, qui.</p>

                              <div class="table-responsive">
                                  <table class="table table-striped mb-0">
                                      <thead>
                                          <tr>
                                              <th>#</th>
                                              <th>First Name</th>
                                              <th>Last Name</th>
                                              <th>Email</th>
                                              <th>Role</th>
                                              <th>Action</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <% Array(5).fill(null).forEach((element, index) => { %>
                                            <tr>
                                              <th scope="row"><%=index+1%></th>
                                              <td>Luccin</td>
                                              <td>Masirika</td>
                                              <td>email@gmail.com</td>
                                              <td>Admin</td>
                                              <td class="action">
                                                <a href="javascript:void(0);" class="px-3 text-primary"><i class="uil uil-pen font-size-18"></i></a>
                                              <a href="javascript:void(0);" class="px-3 text-danger"><i class="uil uil-trash-alt font-size-18"></i></a>
                                              </td>
                                          </tr>
                                          <% }) %>
                                      </tbody>
                                  </table>
                              </div>

                          </div>
                      </div>
                      </div>
                    </div>
                    <!-- end user list-->

                  </div>
                  <!-- end container -->

                  </div>
                  <!-- container-fluid -->

              </div>
              <!-- End Page-content -->

             <!-- Footer-->
             <%- include('./footer.ejs') %>
          </div>
          <!-- end main content-->

      </div>
      <!-- END layout-wrapper -->

      <!-- JAVASCRIPT -->
      <script src="/assets/libs/jquery/jquery.min.js"></script>
      <script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/assets/libs/metismenu/metisMenu.min.js"></script>
      <script src="/assets/libs/simplebar/simplebar.min.js"></script>
      <script src="/assets/libs/node-waves/waves.min.js"></script>
      <script src="/assets/libs/waypoints/lib/jquery.waypoints.min.js"></script>
      <script src="/assets/libs/jquery.counterup/jquery.counterup.min.js"></script>

       <!-- plugins -->
      <script src="/assets/libs/select2/js/select2.min.js"></script>
      <script src="/assets/libs/spectrum-colorpicker2/spectrum.min.js"></script>
      <script src="/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
      <script src="/assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
      <script src="/assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
      <script src="/assets/libs/%40chenfengyuan/datepicker/datepicker.min.js"></script>

      <!-- init js -->
      <script src="/assets/js/pages/form-advanced.init.js"></script>

      <script src="/assets/js/app.js"></script>
