<!--  Extra Large modal example -->
<div
  class="modal fade edit"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myExtraLargeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mt-0" id="myExtraLargeModalLabel">
          Edit paiement
        </h5>

        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12" style="padding: 10px 40px">
            <div
              class="alert alert-success alert-dismissible fade show hidden"
              role="alert"
              id="update"
            >
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
              ></button>
              <strong>Updated with success !</strong>
            </div>

            <form id="form">
              <!-- Paiements -->
              <div class="mb-3 row">
                <label for="example-text-input" class="col-md-2 col-form-label"
                  >Paiements</label
                >
                <div class="col-md-10">
                  <input
                    class="form-control"
                    name="payment"
                    type="text"
                    id="payment"
                  />
                </div>
              </div>

              <!-- Description -->
              <div class="mb-3 row">
                <label for="example-text-input" class="col-md-2 col-form-label"
                  >Description</label
                >
                <div class="col-md-10">
                  <input
                    class="form-control"
                    name="description"
                    id="description"
                    type="text"
                  />
                </div>
              </div>

              <!-- Montant -->
              <div class="mb-3 row">
                <label for="example-text-input" class="col-md-2 col-form-label"
                  >Montant</label
                >
                <div class="col-md-10">
                  <input
                    class="form-control"
                    name="montant"
                    id="montant"
                    type="number"
                  />
                </div>
              </div>

              <!-- Submit-->
              <div class="mb-3 row">
                <label
                  for="example-text-input"
                  class="col-md-2 col-form-label"
                ></label>
                <div class="col-md-10">
                  <button type="submit" class="btn btn-primary w-md">
                    Submit <i class="uil uil-arrow-right ms-2"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- end row -->
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- JAVASCRIPT -->
<script src="/assets/libs/jquery/jquery.min.js"></script>
<script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="/assets/libs/simplebar/simplebar.min.js"></script>
<script src="/assets/libs/node-waves/waves.min.js"></script>
<script src="/assets/libs/waypoints/lib/jquery.waypoints.min.js"></script>
<script src="/assets/libs/jquery.counterup/jquery.counterup.min.js"></script>

<script src="/assets/js/app.js"></script>
