<div class="mb-4">
  <img src="/assets/images/logo-dark.png" alt="logo" height="20" />
</div>
<div class="text-muted">
  <p class="mb-1">Q. Le Volcan, 0017</p>
  <p class="mb-1">
    <i class="uil uil-envelope-alt me-1"></i>
    admin@gmail.com
  </p>
  <p><i class="uil uil-phone me-1"></i>+243 000 000 000</p>
</div>
