<!--Start form-->
<div class="row">
  <div class="col-12 col-lg-6 d-none d-md-block my-container">
    <div class="my-content">
      <img src="/assets/images/upload/logo.png" alt="Logo" class="logo" />
      <h1 class="text1">PaymentTracker-GRID3-Mappers</h1>
      <h3 class="text1 text2">
        Formulaire de confirmation de vos informations de paiement de salaire,
        Perdiem et autres frais pour les cartographes GRID3
      </h3>
      <h5 class="text">
        <a href="/login" target="_blank" rel="noopener noreferrer">Connexion</a>
      </h5>
      <h6 class="text updev">
        Designed By
        <a
          href="https://uptodatedevelopers.com"
          target="_blank"
          rel="noopener noreferrer"
          >Uptodate Developers</a
        >
      </h6>
    </div>
  </div>
  <div
    class="col-12 col-lg-6 d-sm-block d-md-none d-lg-none my-container my-container-phone"
  >
    <div class="my-content2" style="padding: 40px 30px">
      <img src="/assets/images/upload/logo.png" alt="Logo" class="logo" />

      <h1 class="text1">PaymentTracker-GRID3-Mappers</h1>

      <h5 class="text">
        <a href="/login" target="_blank" rel="noopener noreferrer">Connexion</a>
      </h5>
    </div>
  </div>
  <div class="col-12 col-lg-6 my-container2">
    <%- include('./formItems.ejs') %>
  </div>
</div>
<!--End form-->
