<!--  Extra Large modal example -->
<div
  class="modal fade instructionPaid"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myExtraLargeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mt-0" id="myExtraLargeModalLabel">
          Lettre d'instruction
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            <div class="card" style="padding: 40px">
              <div class="card-body">
                <div class="invoice-title">
                  <h4 class="float-end font-size-16">
                    Instruction
                    <span class="badge bg-success font-size-12 ms-2"
                      >Payée</span
                    >
                  </h4>
                  <div class="mb-4">
                    <img
                      src="/assets/images/logo-dark.png"
                      alt="logo"
                      height="20"
                    />
                  </div>
                  <div class="text-muted">
                    <p class="mb-1">Q. Le Volcan, 007</p>
                    <p class="mb-1">
                      <i class="uil uil-envelope-alt me-1"></i>
                      luccinmasirika@gmail.com
                    </p>
                    <p><i class="uil uil-phone me-1"></i>+243 993 936 859</p>
                  </div>
                </div>

                <hr class="my-4" />

                <div class="row">
                  <div class="col-sm-6">
                    <div class="text-muted">
                      <div>
                        <h5 class="font-size-16 mb-1">Agent d'affectation:</h5>
                        <p>Luccin Masirika</p>
                      </div>
                      <div class="mt-4">
                        <h5 class="font-size-16 mb-1">Libellé:</h5>
                        <p>Exemplaire</p>
                      </div>
                      <div class="mt-4">
                        <h5 class="font-size-16 mb-1">Montant:</h5>
                        <p>504$</p>
                      </div>
                      <div class="mt-4">
                        <h5 class="font-size-16 mb-1">Date de paiement:</h5>
                        <p>09 Jul, 2020</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="text-muted text-sm-end">
                      <div>
                        <h5 class="font-size-16 mb-1">
                          N<sup>o</sup> d'instructon:
                        </h5>
                        <p>#LI0131</p>
                      </div>
                      <div class="mt-4">
                        <h5 class="font-size-16 mb-1">Date d'émission:</h5>
                        <p>09 Jul, 2020</p>
                      </div>
                      <div class="mt-4">
                        <h5 class="font-size-16 mb-1">
                          Référence de paiement:
                        </h5>
                        <p>Bla bla bla</p>
                      </div>
                    </div>
                  </div>
                </div>

                <hr class="my-4" />

                <div class="py-2">
                  <h5 class="font-size-15">Description</h5>

                  <p style="text-align-last: left; text-align: justify">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Perspiciatis non tempore asperiores, suscipit error sapiente
                    ullam. Error, adipisci. Asperiores, voluptate deserunt. Ab
                    fugit maxime soluta velit odit et quisquam vel non, magni
                    consequatur cum quod voluptatum consequuntur harum nulla
                    nihil similique inventore saepe officiis, pariatur, odio a
                    alias impedit aliquid? Eligendi, ipsa? Debitis rerum quasi
                    minima? Dignissimos rem, nisi animi molestias consectetur
                    neque vel expedita quam, quia ducimus magnam facilis
                    nesciunt tempore, excepturi ipsa iusto accusamus impedit.
                    Illum odio libero quo, beatae officia iure, ea ullam
                    repudiandae vero aut corporis dignissimos harum sequi
                    accusantium hic ut quisquam aliquam asperiores quasi dolor
                    mollitia blanditiis. Eum provident debitis quasi excepturi.
                    Laborum, voluptas possimus. Consequatur rerum totam a ab et
                    quibusdam, obcaecati reiciendis cupiditate dolorum
                    consequuntur! Sit, id eum quibusdam iusto repellendus
                    delectus voluptatem maxime corrupti, qui culpa nobis
                    molestiae, blanditiis accusamus ullam dignissimos! Ut
                    voluptas doloremque quidem ipsum temporibus, est ad quasi
                    nesciunt doloribus officia repellat dolorem vitae fugiat
                    labore unde adipisci dicta necessitatibus non voluptate
                    architecto. Illum quidem, harum ipsam placeat facere dolore,
                    rerum iure ad velit deserunt voluptatem esse nisi ipsum
                    veritatis consequuntur nam dolorum maiores, saepe alias modi
                    soluta repellat exercitationem. Laudantium ducimus sint
                    minus ullam deserunt illo veritatis?
                  </p>
                </div>

                <hr class="my-4" />

                <em style="text-align: center">Votre pied de page sera ici</em>
              </div>
            </div>
          </div>
        </div>
        <!-- end row -->
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-light waves-effect"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <button
          onclick="window.print()"
          class="btn btn-success waves-effect waves-light me-1"
        >
          <i class="fa fa-print"></i>
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
