<!--  Extra Large modal example -->
<div
  class="modal fade instructionNoPaid"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myExtraLargeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mt-0" id="myExtraLargeModalLabel">
          Lettre d'instruction
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body" id="details">
        <div class="row">
          <div class="col-lg-12">
            <div class="card" style="padding: 40px">
              <div class="card-body">
                <div class="invoice-title">
                  <h4 class="float-end font-size-16">
                    Instruction
                    <span
                      id="No"
                      class="badge bg-danger hidden font-size-12 ms-2 refresh2"
                      >Pas Payée</span
                    >
                    <span
                      id="Oui"
                      class="badge bg-success hidden font-size-12 ms-2 refresh2"
                      >Payée</span
                    >
                  </h4>
                  <%- include('./entete.ejs') %>
                </div>

                <hr class="my-4" />

                <div class="row">
                  <div class="col-sm-6">
                    <div class="text-muted">
                      <div>
                        <h5 class="font-size-16 mb-1">Agent d'affectation:</h5>
                        <p id="nameAgent">Name here</p>
                      </div>
                      <div class="mt-4">
                        <h5 class="font-size-16 mb-1">Libellé:</h5>
                        <p id="libelle">-</p>
                      </div>
                      <div class="mt-4">
                        <h5 class="font-size-16 mb-1">Montant:</h5>
                        <p><span id="montant">-</span>$</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="text-muted text-sm-end">
                      <div class="mt-4">
                        <h5 class="font-size-16 mb-1">Date d'émission:</h5>
                        <p id="date">-</p>
                      </div>
                      <div class="mt-4">
                        <h5 class="font-size-16 mb-1">Date de paiement:</h5>
                        <p id="date2">-</p>
                      </div>

                      <div class="mt-4">
                        <h5 class="font-size-16 mb-1">
                          Référence de paiement:
                        </h5>
                        <p id="refference">-</p>
                      </div>
                    </div>
                  </div>
                </div>

                <hr class="my-4" />

                <div class="py-2">
                  <h5 class="font-size-15">Description</h5>

                  <p
                    id="myText"
                    style="text-align-last: left; text-align: justify"
                  >
                    -
                  </p>
                </div>

                <hr class="my-4" />
              </div>
            </div>
          </div>
        </div>
        <!-- end row -->
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-light waves-effect"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <button
          class="btn btn-success waves-effect waves-light me-1"
          onclick="doPdf()"
        >
          <i class="fa fa-print"></i>
        </button>
        <button
          type="button"
          data-bs-toggle="modal"
          data-bs-target=".valid"
          id="validBtn"
          class="btn btn-primary waves-effect waves-light"
        >
          Payer l'instruction
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script>
  const doPdf = () => {
    const element = document.getElementById('details');
    const opt = {
      margin: 0,
      filename: 'Instruction_details.pdf',
      image: { type: 'jpeg', quality: 0.98 },
      html2canvas: { scale: 2 },
      jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' },
    };

    html2pdf().from(element).set(opt).save();
  };
</script>

