<!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

              <div class="page-content">
                  <div class="container-fluid">

                      <!-- start page title -->
                      <div class="row">
                          <div class="col-12">
                              <div class="page-title-box d-flex align-items-center justify-content-between">
                                  <h4 class="mb-0">Liste de lettres d'instruction</h4>

                              </div>
                          </div>
                      </div>
                      <!-- End page title -->

                      <!-- Start Instruction list-->
                      <div class="row">
                        <div class="col-lg-12">

                            <div class="table-responsive mb-4">
                                <table class="table table-centered datatable dt-responsive nowrap table-card-list" style="border-collapse: collapse; border-spacing: 0 12px; width: 100%;">
                                    <thead>
                                        <tr class="bg-transparent">
                                            <th style="width: 24px;">
                                                <div class="form-check text-center">
                                                    <input type="checkbox" class="form-check-input" id="invoicecheck">
                                                    <label class="form-check-label" for="invoicecheck"></label>
                                                </div>
                                            </th>
                                            <th>#</th>
                                            <th>Date</th>
                                            <th>Montant</th>
                                            <th>Etat</th>
                                            <th>Agent</th>
                                            <th>Libélé</th>
                                            <th>Description</th>
                                            <th style="width: 120px;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>
                                            <div class="form-check text-center">
                                                <input type="checkbox" class="form-check-input" id="invoicecheck1">
                                                <label class="form-check-label" for="invoicecheck1"></label>
                                            </div>
                                        </td>

                                        <td><a href="javascript: void(0);" class="text-dark fw-bold">LI01</a> </td>
                                        <td>
                                            26 Mars, 2020
                                        </td>
                                        <td>
                                          $141
                                        </td>
                                        <td>
                                          <div class="badge bg-soft-danger font-size-12">
                                            Pas payé
                                          </div>
                                        </td>
                                        <td>Albert Ein...</td>
                                        <td>Test</td>
                                        <td style="width:200px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Lorem ipsum dolor sit...</td>


                                        <td>
                                            <a href="javascript:void(0);" class="px-3 text-primary"><i class="uil uil-pen font-size-18"></i></a>
                                            <a href="javascript:void(0);" class="px-3 text-danger"><i class="uil uil-trash-alt font-size-18"></i></a>
                                            <button style="border: none; background-color: transparent;" type="button" data-bs-toggle="modal" data-bs-target=".instructionNoPaid" class="px-3 text-success"><i class="fas fa-eye"></i></button>
                                        </td>
                                    </tr>
                                       <% Array(24).fill(null).forEach((el, index) => { %>
                                        <tr>
                                          <td>
                                              <div class="form-check text-center">
                                                  <input type="checkbox" class="form-check-input" id="invoicecheck1">
                                                  <label class="form-check-label" for="invoicecheck1"></label>
                                              </div>
                                          </td>

                                          <td><a href="javascript: void(0);" class="text-dark fw-bold">LI0<%=index + 1 %> </a> </td>
                                          <td>
                                              10 Jul, 2020
                                          </td>
                                          <td>
                                            $141
                                          </td>

                                          <td>
                                            <div class="badge bg-soft-success font-size-12">Payé</div>
                                          </td>
                                          <td>Luccin Mas...</td>
                                          <td>Exemplaire</td>
                                          <td style="width:200px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Lorem ipsum dolor sit...</td>

                                          <td>
                                              <a href="javascript:void(0);" class="px-3 text-primary"><i class="uil uil-pen font-size-18"></i></a>
                                              <a href="javascript:void(0);" class="px-3 text-danger"><i class="uil uil-trash-alt font-size-18"></i></a>
                                              <button style="border: none; background-color: transparent;" type="button" data-bs-toggle="modal" data-bs-target=".instructionPaid" class="px-3 text-success"><i class="fas fa-eye"></i></button>
                                          </td>
                                      </tr>
                                       <% }) %>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                      <!-- End Instruction list-->

                      <%- include('./instructionNopaid.ejs') %>
                      <%- include('./instructionPaid.ejs') %>

                  </div>
                  <!-- end row -->

                  </div> <!-- container-fluid -->
              </div>
              <!-- End Page-content -->

             <!-- Footer-->
             <%- include('./footer.ejs') %>
          </div>
          <!-- end main content-->

      </div>
      <!-- END layout-wrapper -->

      <!-- JAVASCRIPT -->
      <script src="/assets/libs/jquery/jquery.min.js"></script>
      <script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/assets/libs/metismenu/metisMenu.min.js"></script>
      <script src="/assets/libs/simplebar/simplebar.min.js"></script>
      <script src="/assets/libs/node-waves/waves.min.js"></script>
      <script src="/assets/libs/waypoints/lib/jquery.waypoints.min.js"></script>
      <script src="/assets/libs/jquery.counterup/jquery.counterup.min.js"></script>

      <!-- bootstrap datepicker -->
      <script src="/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>

      <!-- Required datatable js -->
      <script src="/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
      <script src="/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

      <!-- Responsive examples -->
      <script src="/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
      <script src="/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

      <!-- init js -->
      <script src="/assets/js/pages/ecommerce-datatables.init.js"></script>

      <script src="/assets/js/app.js"></script>
