<div class="authentication-bg">
  <div class="row align-items-center justify-content-center login-screen">
    <div class="col-md-8 col-lg-6 col-xl-5">
      <div class="card">
        <div class="card-body p-4">
          <div class="text-center mt-2">
            <h5 class="text-primary">Welcome Back !</h5>
            <p class="text-muted">
              Sign in to continue to PaymentTracker-GRID3-Mappers.
            </p>
          </div>

          <div class="p-2 mt-4">
            <% if(locals.flash){%>
            <div
              class="alert alert-<%=(Object.keys(locals.flash)[0]=='Error') && 'danger' %> alert-dismissible fade show"
              role="alert"
            >
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
              ></button>
              <strong><%= Object.keys(locals.flash)[0] %> !</strong>
              <%=locals.flash.Error%>
            </div>
            <%}%>

            <form action="/login" method="post">
              <div class="mb-3">
                <label class="form-label" for="username">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="username"
                  name="email"
                  placeholder="Enter username"
                />
              </div>

              <div class="mb-3">
                <label class="form-label" for="userpassword">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="userpassword"
                  name="password"
                  placeholder="Enter password"
                />
              </div>

              <div class="mt-3 text-end">
                <button
                  class="btn btn-primary w-sm waves-effect waves-light"
                  type="submit"
                >
                  Log In
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="mt-5 text-center">
        <p>
          ©
          <script>
            document.write(new Date().getFullYear());
          </script>
          Tracker WebApp. Designed with <i class="mdi mdi-heart text-danger"></i
          ><a
            href="https://uptodatedevelopers.com"
            target="_blank"
            rel="noopener noreferrer"
            >Uptodate Developers</a
          >
        </p>
      </div>
    </div>
  </div>
</div>

<!-- JAVASCRIPT -->
<script src="/assets/libs/jquery/jquery.min.js"></script>
<script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="/assets/libs/simplebar/simplebar.min.js"></script>
<script src="/assets/libs/node-waves/waves.min.js"></script>
<script src="/assets/libs/waypoints/lib/jquery.waypoints.min.js"></script>
<script src="/assets/libs/jquery.counterup/jquery.counterup.min.js"></script>

<script src="/assets/js/app.js"></script>
