<!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

              <div class="page-content">
                  <div class="container-fluid">

                      <!-- start page title -->
                      <div class="row">
                          <div class="col-12">
                              <div class="page-title-box d-flex align-items-center justify-content-between">
                                  <h4 class="mb-0">Paiements</h4>

                              </div>
                          </div>
                      </div>
                      <!-- end page title -->
                      <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">

                                    <h4 class="card-title">Ajouter un type de paiement</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet ipsam voluptate sunt cum nam. Voluptatibus excepturi veniam accusantium vel sit?</p>
                                    <div class="mb-3 row"></div>
                                    <form>

                                  <!-- Paiements -->
                                    <div class="mb-3 row">
                                      <label for="example-text-input" class="col-md-2 col-form-label">Paiements</label>
                                      <div class="col-md-10">
                                          <input class="form-control" name="lastName" type="text" placeholder="Salaire (Phase 2)" id="example-text-input">
                                      </div>
                                  </div>

                                  <!-- Description -->
                                  <div class="mb-3 row">
                                    <label for="example-text-input" class="col-md-2 col-form-label">Description</label>
                                    <div class="col-md-10">
                                        <input class="form-control" name="lastName" type="text" placeholder="Frais de deplacement" id="example-text-input">
                                    </div>
                                </div>

                                <!-- Montant -->
                                <div class="mb-3 row">
                                  <label for="example-text-input" class="col-md-2 col-form-label">Montant</label>
                                  <div class="col-md-10">
                                      <input class="form-control" name="lastName" type="number" placeholder="450 000$" id="example-text-input">
                                  </div>
                              </div>

                              <!-- Submit-->
                              <div class="mb-3 row">
                                <label for="example-text-input" class="col-md-2 col-form-label"></label>
                                <div class="col-md-10">
                                  <button type="submit" class="btn btn-primary w-md">Submit</button>
                                </div>
                            </div>
                            </div>
                          </form>
                                </div>
                            </div>
                        </div> <!-- end col -->


                    <div class="row">
                      <div class="col-12">
                        <div class="card">
                          <div class="card-body">
                              <h4 class="card-title">Type de paiement actuel</h4>
                              <p class="card-title-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, qui.</p>

                              <div class="table-responsive">
                                  <table class="table table-striped mb-0">
                                      <thead>
                                          <tr>
                                              <th>#</th>
                                              <th>Type de paiement</th>
                                              <th>Description</th>
                                              <th>Montant</th>
                                              <th>Action</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr>
                                              <th scope="row">1</th>
                                              <td>Salaire (Phase 1)</td>
                                              <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, error.</td>
                                              <td>350$</td>
                                              <td class="action">
                                                <a href="#">
                                                  <i class="fa fa-edit"></i>
                                                </a>
                                                <a href="#">
                                                  <i class="fa fa-trash-alt"></i>
                                                </a>
                                              </td>
                                          </tr>
                                          <tr>
                                              <th scope="row">2</th>
                                              <td>Salaire (Phase 2)</td>
                                              <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem, officia!</td>
                                              <td>501$</td>
                                              <td class="action">
                                                <a href="#">
                                                  <i class="fa fa-edit"></i>
                                                </a>
                                                <a href="#">
                                                  <i class="fa fa-trash-alt"></i>
                                                </a>
                                              </td>
                                          </tr>
                                          <tr>
                                              <th scope="row">3</th>
                                              <td>Perdiem (Phase 2)</td>
                                              <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, iusto?</td>
                                              <td>260$</td>
                                              <td class="action">
                                                <a href="#">
                                                  <i class="fa fa-edit"></i>
                                                </a>
                                                <a href="#">
                                                  <i class="fa fa-trash-alt"></i>
                                                </a>
                                              </td>
                                          </tr>
                                          <tr>
                                            <th scope="row">3</th>
                                            <td>Perdiem (Phase 3)</td>
                                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, ipsam. Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
                                            <td>330$</td>
                                            <td class="action">
                                              <a href="#">
                                                <i class="fa fa-edit"></i>
                                              </a>
                                              <a href="#">
                                                <i class="fa fa-trash-alt"></i>
                                              </a>
                                            </td>
                                        </tr>
                                        <tr>
                                          <th scope="row">3</th>
                                          <td>Frais Internet et communication (Phase 2)</td>
                                          <td>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, doloremque.</td>
                                          <td>32$</td>
                                          <td class="action">
                                            <a href="#">
                                              <i class="fa fa-edit"></i>
                                            </a>
                                            <a href="#">
                                              <i class="fa fa-trash-alt"></i>
                                            </a>
                                          </td>
                                      </tr>
                                      <tr>
                                        <th scope="row">3</th>
                                        <td>Frais Internet et communication (Phase 3)</td>
                                        <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum, facilis?</td>
                                        <td>40$</td>
                                        <td class="action">
                                          <a href="#">
                                            <i class="fa fa-edit"></i>
                                          </a>
                                          <a href="#">
                                            <i class="fa fa-trash-alt"></i>
                                          </a>
                                        </td>
                                    </tr>
                                      </tbody>
                                  </table>
                              </div>

                          </div>
                      </div>
                      </div>
                    </div>

                    </div>
                    <!-- end row -->


                  </div> <!-- container-fluid -->
              </div>
              <!-- End Page-content -->



             <!-- Footer-->
             <%- include('./footer.ejs') %>
          </div>
          <!-- end main content-->

      </div>
      <!-- END layout-wrapper -->

      <!-- JAVASCRIPT -->
      <script src="/assets/libs/jquery/jquery.min.js"></script>
      <script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/assets/libs/metismenu/metisMenu.min.js"></script>
      <script src="/assets/libs/simplebar/simplebar.min.js"></script>
      <script src="/assets/libs/node-waves/waves.min.js"></script>
      <script src="/assets/libs/waypoints/lib/jquery.waypoints.min.js"></script>
      <script src="/assets/libs/jquery.counterup/jquery.counterup.min.js"></script>

       <script src="/assets/js/app.js"></script>
