<!--  Extra Large modal example -->
<div
  class="modal fade preview"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myExtraLargeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mt-0" id="myExtraLargeModalLabel">
          Autres Paiements
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            <div class="card" style="padding: 40px">
              <div class="card-body">
                <div class="invoice-title">
                  <h4 class="float-end font-size-16">
                    Type de paiement
                    <span
                      id="payment"
                      class="badge bg-success font-size-12 ms-2"
                      >--</span
                    >
                  </h4>
                  <%- include('./entete.ejs') %>
                </div>

                <hr class="my-4" />

                <div class="row">
                  <div class="col-sm-6">
                    <div class="text-muted">
                      <div>
                        <h5 class="font-size-16 mb-1">Nom du bénéficiaire:</h5>
                        <p id="agent">--</p>
                      </div>
                      <div class="mt-4">
                        <h5 class="font-size-16 mb-1">Province:</h5>
                        <p id="province">--</p>
                      </div>
                      <div class="mt-4">
                        <h5 class="font-size-16 mb-1">Refférence:</h5>
                        <p id="refference">--</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="text-muted text-sm-end">
                      <div>
                        <h5 class="font-size-16 mb-1">Libellé:</h5>
                        <span
                          id="libelle"
                          class="badge bg-primary font-size-12 ms-2"
                          >--</span
                        >
                      </div>
                      <div>
                        <h5 class="font-size-16 mb-1">Montant:</h5>
                        <span
                          id="montant"
                          class="badge bg-secondary font-size-12 ms-2"
                          >--</span
                        >
                      </div>
                      <div class="mt-4">
                        <h5 class="font-size-16 mb-1">Date de paiement:</h5>
                        <p id="date">--</p>
                      </div>
                    </div>
                  </div>
                </div>

                <hr class="my-4" />

                <div class="py-2">
                  <h5 class="font-size-15">Commentaire</h5>

                  <p
                    id="description"
                    style="text-align-last: left; text-align: justify"
                  >
                    --
                  </p>
                </div>

                <hr class="my-4" />
              </div>
            </div>
          </div>
        </div>
        <!-- end row -->
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-light waves-effect"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <button class="btn btn-success waves-effect waves-light me-1">
          <i class="fa fa-print"></i>
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
