<div id="layout-wrapper">
  <!-- start header -->
  <header id="page-topbar">
    <div class="navbar-header">
      <div class="d-flex">
        <%- include('./logo.ejs') %>

        <button
          type="button"
          class="btn btn-sm px-3 font-size-16 header-item waves-effect vertical-menu-btn"
        >
          <i class="fa fa-fw fa-bars"></i>
        </button>
      </div>

      <div class="d-flex">
        <div class="dropdown d-inline-block">
          <button
            type="button"
            onclick="logout()"
            class="btn header-item noti-icon right-bar-toggle waves-effect logout"
          >
            <i
              class="uil uil-sign-out-alt font-size-18 align-middle me-1 text-muted"
            ></i>
            <span class="align-middle">Sign out</span>
          </button>
        </div>

        <div class="dropdown d-inline-block">
          <button
            type="button"
            class="btn header-item noti-icon right-bar-toggle waves-effect"
            onclick="window.location.href='/admin/add-user'"
          >
            <i class="uil-cog"></i>
          </button>
        </div>
      </div>
    </div>
  </header>

  <!-- end header-->
</div>

<script>
  const logout = () => {
    axios.get('/signout').then((data) => {
      window.location.href = '/login';
    });
  };
</script>
