<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <%- include('../partials/topBar.ejs') %>
    <%- include('../partials/navBar.ejs') %>
    <%- include('../partials/'+path) %>
  </body>
</html>
